{% extends 'base.html'%}
{% block title %} PokeCreate {% endblock %}

{% block content %}
<h1 class="container"> </h1>
<p class="justify"> </p>

<div class="jumbotron">
  <h1 class="display-4">Bem-Vindo ao PokeCreate</h1>
  <p class="lead">Este site é um projeto criado para pessoas (anônimas ou não), poderem criar pokemons de acordo com seus gostos.</p>
  <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="{% url 'sobre' %}" role="button">Saiba Mais Sobre o projeto </a>
</div>

{% endblock %}