{% extends 'base.html'%}
{% block content %} 

<nav id="navbar-example2" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Sobre o Projeto</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#criadores">CRIADORES</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">DIREÇÃO 📜</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#sobre">SOBRE ❓</a>
        <a class="dropdown-item" href="#criadores">CRIADORES 👨‍🎓</a>
      </div>
    </li>
  </ul>
</nav>
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <h4 id="sobre">SOBRE ❓</h4>
  <p>O projeto vem com a ideia de usuários anônimos (ou não), darem ideias de pokemons<br> os criadores podem ou não se indetificarem para este projeto.</p>
  <h4 id="criadores">CRIADORES 👨‍🎓</h4>
  <p>atualmente no projeto se encontra os seguintes criadores.</p>
  <a href="https://www.linkedin.com/in/sergiomqs/"> Sérgio Marques </a> | Desenvolvedor 
</div>

{% endblock %}